* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow: scroll;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */ }

body {
  background: #4b4b4b;
  color: #eeeeee; }

a,
a:hover,
a:visited,
a:focus {
  color: #eeeeee;
  text-decoration: none; }

li {
  list-style: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Remove default arrow */
  background-image: url(assets/img/arrow-circle-down-solid.svg);
  /* Add custom arrow */
  background-position: center right 2%;
  background-repeat: no-repeat;
  background-size: 1.75rem;
  font-size: 1.25rem;
  text-align: right;
  text-indent: 0.5rem; }
  select option {
    width: 50%;
    font-size: 1rem; }

.page-wrapper {
  margin-bottom: 8rem; }

.navbar-nav {
  display: flex;
  flex-direction: column; }
  .navbar-nav .nav-item {
    margin: 0.5rem 0.5rem 0.5rem auto; }

.color-4 {
  color: #a10000 !important; }

.bg-1 {
  background-color: #292929; }

.bg-2 {
  background-color: #eeeeee; }

.bg-3 {
  background-color: #b3b3b3; }

.bg-4 {
  background-color: #a10000; }

.bg-initialized {
  background-color: #eeeeee;
  color: #4b4b4b; }

.bg-submitted {
  background-color: #126c83; }

.bg-retrieving {
  background-color: #d36600; }

.bg-retrieved {
  background-color: #0c7214; }

.bg-complete {
  background-color: #2e2e2e;
  border: 0.1rem solid #b3b3b3; }

.c-initialized {
  color: #eeeeee; }

.c-submitted {
  color: #126c83; }

.c-retrieving {
  color: #d36600; }

.c-retrieved {
  color: #0c7214; }

.c-complete {
  color: #2e2e2e; }

.modal .modal-dialog {
  vertical-align: middle; }

.btn {
  border: none;
  outline: none;
  background-color: #a10000; }
  .btn:hover {
    background-color: #6e0000; }

.alert {
  position: absolute;
  top: calc(0% - 3rem);
  left: 0;
  width: 100%;
  border-radius: 0;
  text-align: center; }

.list-group button {
  border-radius: 0; }

.form-control {
  height: 3rem;
  font-size: 1.25rem; }

.login {
  max-width: 90%;
  margin-top: 1rem; }

#top-nav {
  position: relative; }
  #top-nav .navbar .navbar-toggler {
    background-color: transparent; }
    #top-nav .navbar .navbar-toggler .fas {
      font-size: 1.75rem;
      color: #eeeeee; }
  #top-nav .navbar-collapse {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: #323232;
    display: none; }
    #top-nav .navbar-collapse.show {
      right: 0;
      width: initial;
      height: 100vh;
      display: initial; }
  #top-nav ul li {
    margin: 0; }
    #top-nav ul li button {
      background-color: #323232;
      min-width: 10rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0;
      padding: 1rem; }
      #top-nav ul li button:hover {
        background-color: #a10000; }
      #top-nav ul li button i {
        margin-right: 0.5rem;
        background-color: #b3b3b3;
        border-radius: 50%;
        padding: 0.5rem;
        min-width: 2.2rem;
        min-height: 2.2rem; }

#bottom-nav {
  width: 100%;
  margin-top: 2rem;
  padding: 0;
  background-color: #b3b3b3;
  box-shadow: 0 0 0.5rem #202020; }
  #bottom-nav .nav {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    #bottom-nav .nav .nav-item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #bottom-nav .nav .nav-item:not(:last-child) {
        border-right: 1px solid #949494; }
      #bottom-nav .nav .nav-item:nth-child(odd) {
        background-color: #a6a6a6; }
      #bottom-nav .nav .nav-item a,
      #bottom-nav .nav .nav-item button {
        width: 100%;
        padding: 0;
        line-height: 4.5rem;
        font-size: 1.75rem;
        text-align: center;
        color: #4b4b4b;
        border-radius: 0;
        background-color: inherit;
        position: relative; }
        #bottom-nav .nav .nav-item a .i-super-anchor,
        #bottom-nav .nav .nav-item button .i-super-anchor {
          position: relative; }
          #bottom-nav .nav .nav-item a .i-super-anchor .i-super,
          #bottom-nav .nav .nav-item button .i-super-anchor .i-super {
            position: absolute;
            left: -55%;
            top: -40%;
            background-color: #4b4b4b;
            color: #eeeeee;
            font-size: 0.7rem;
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.25rem;
            border-radius: 50%;
            border: 2px solid #b3b3b3; }
            #bottom-nav .nav .nav-item a .i-super-anchor .i-super.i-super-live,
            #bottom-nav .nav .nav-item button .i-super-anchor .i-super.i-super-live {
              background-color: #a10000; }
        #bottom-nav .nav .nav-item a .link-page-name,
        #bottom-nav .nav .nav-item button .link-page-name {
          position: absolute;
          bottom: -1.25rem;
          left: 0;
          right: 0;
          margin: auto;
          font-size: 1rem;
          font-variant-caps: all-small-caps; }
      #bottom-nav .nav .nav-item.active.home {
        border-bottom: 0.5rem solid #a10000; }
      #bottom-nav .nav .nav-item.active.current {
        border-bottom: 0.5rem solid #126c83; }
      #bottom-nav .nav .nav-item.active.retrieve {
        border-bottom: 0.5rem solid #d36600; }
      #bottom-nav .nav .nav-item.active.library {
        border-bottom: 0.5rem solid #0c7214; }
      #bottom-nav .nav .nav-item.active a {
        line-height: 4rem; }

.alert-anchor .alert {
  z-index: 10; }
  .alert-anchor .alert .clear-alert-btn {
    position: absolute;
    right: 1rem;
    color: #4b4b4b;
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .alert-anchor .alert .clear-alert-btn:hover, .alert-anchor .alert .clear-alert-btn:focus, .alert-anchor .alert .clear-alert-btn:active {
      background: transparent;
      outline: none;
      border: none; }

.modal-alert-anchor {
  position: relative; }
  .modal-alert-anchor .alert {
    z-index: 10;
    top: 0; }
    .modal-alert-anchor .alert .clear-alert-btn {
      position: absolute;
      right: 1rem;
      color: #4b4b4b;
      background-color: transparent;
      outline: none;
      border: none;
      margin: 0;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: none; }
      .modal-alert-anchor .alert .clear-alert-btn:hover, .modal-alert-anchor .alert .clear-alert-btn:focus, .modal-alert-anchor .alert .clear-alert-btn:active {
        background: transparent;
        outline: none;
        border: none; }

.search-bar {
  margin-bottom: 1rem; }
  .search-bar .input-group .form-control,
  .search-bar .input-group .btn,
  .search-bar .form-group .form-control,
  .search-bar .form-group .btn {
    height: 4rem;
    border-radius: 0; }
  .search-bar .input-group .btn,
  .search-bar .form-group .btn {
    padding: 0 1.5rem;
    font-size: 1.2rem; }

.picklist-title {
  font-weight: 100;
  font-size: 1.75rem;
  width: 100%; }

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .home .status-filter-hud {
    display: flex;
    width: 100%; }
    .home .status-filter-hud .status-filter-select {
      background-color: #eeeeee; }
  .home .no-picklists-msg {
    font-weight: 100;
    margin: 5rem 3rem 2rem 3rem;
    text-align: center; }
  .home .new-list-btn {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    min-width: 5rem;
    min-height: 5rem;
    border-radius: 50%;
    color: #eeeeee;
    background-color: #a10000;
    border: 0.25rem solid #4b4b4b;
    display: flex;
    align-items: center;
    justify-content: center; }
    .home .new-list-btn:active {
      background-color: #6e0000; }
    .home .new-list-btn i {
      font-size: 1.5rem; }

.picklist {
  box-shadow: 0 0 0.5rem #202020; }
  .picklist .picklist-header {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.2s ease; }
    .picklist .picklist-header .picklist-info {
      position: relative; }
      .picklist .picklist-header .picklist-info .picklist-name {
        font-weight: 400;
        max-width: 90%; }
      .picklist .picklist-header .picklist-info .picklist-subtitle {
        color: #b3b3b3; }
        .picklist .picklist-header .picklist-info .picklist-subtitle .picklist-subtitle-by {
          color: #4b4b4b; }
      .picklist .picklist-header .picklist-info .picklist-date {
        color: #b3b3b3; }
      .picklist .picklist-header .picklist-info .status-dot {
        position: absolute;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        right: 0.25rem;
        top: 0.25rem;
        transition: all 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center; }
        .picklist .picklist-header .picklist-info .status-dot .picklist-status {
          font-size: 0.8rem;
          text-align: center;
          display: none;
          transition: all 0.2s ease; }
        .picklist .picklist-header .picklist-info .status-dot.status-dot-active {
          height: 2rem;
          width: 8rem;
          right: 0;
          border-radius: 0.2rem;
          transition: all 0.2s ease; }
          .picklist .picklist-header .picklist-info .status-dot.status-dot-active .picklist-status {
            display: initial;
            transition: all 0.2s ease; }
    .picklist .picklist-header.picklist-open {
      transition: all 0.2s ease; }
      .picklist .picklist-header.picklist-open .picklist-name {
        max-width: 60%; }
      .picklist .picklist-header.picklist-open .picklist-subtitle {
        max-width: 60%; }
  .picklist .picklist-upper-collapse .card-body {
    display: flex;
    justify-content: space-between;
    background-color: #b3b3b3;
    padding: 0.5rem 1rem;
    margin-top: 0.75rem; }
    .picklist .picklist-upper-collapse .card-body .btn {
      min-height: 3rem;
      min-width: 3rem; }
      .picklist .picklist-upper-collapse .card-body .btn i {
        font-size: 1rem; }
  .picklist .picklist-lower-collapse {
    border: none;
    outline: none; }
    .picklist .picklist-lower-collapse .picklist-lower ul {
      border: none;
      margin-bottom: 0.75rem; }
      .picklist .picklist-lower-collapse .picklist-lower ul li:nth-child(odd) {
        background-color: #b3b3b3; }
      .picklist .picklist-lower-collapse .picklist-lower ul li {
        display: flex;
        align-items: center;
        padding: 0.75rem 1rem; }
        .picklist .picklist-lower-collapse .picklist-lower ul li i {
          margin-right: 0.25rem; }
        .picklist .picklist-lower-collapse .picklist-lower ul li .picklist-body-qty {
          margin-left: auto; }

.picklist-skeleton {
  animation: skeleton 2s linear infinite alternate; }
  .picklist-skeleton .card-body-skeleton .picklist-info-skeleton .card-title-skeleton {
    width: 100%;
    background-color: #737373;
    border-radius: 0.25rem;
    opacity: 0.5; }
  .picklist-skeleton .card-body-skeleton .picklist-info-skeleton .card-subtitle-skeleton {
    width: 75%;
    background-color: #4b4b4b;
    border-radius: 0.25rem;
    opacity: 0.5; }
  .picklist-skeleton .card-body-skeleton .picklist-info-skeleton .date-skeleton {
    width: 100%;
    background-color: #eeeeee;
    border-radius: 0.25rem;
    opacity: 0.5; }
  .picklist-skeleton .card-body-skeleton .picklist-status-skeleton {
    background-color: #2e2e2e;
    width: 5rem; }

.current .submit-current-trigger {
  position: fixed;
  width: 4rem;
  height: 4rem;
  box-shadow: 0 0 0.75rem 0 #202020;
  border: 0.2rem solid #0f5a6d;
  border-radius: 50%;
  font-size: 1.5rem;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1031;
  background-color: #126c83; }
.current .submit-current-collapse {
  position: fixed;
  width: 100%;
  padding: 0 4rem;
  bottom: 8rem; }
  .current .submit-current-collapse .submit-current-btn {
    background-color: #126c83;
    box-shadow: 0 0 0.25rem 0 #202020;
    border: 0.2rem solid #106378; }
.current .current-items-list .current-items-item {
  box-shadow: 0 0 0.5rem #202020; }
  .current .current-items-list .current-items-item.item-open {
    margin: 1rem 0; }
  .current .current-items-list .current-items-item .list-group-item {
    height: 4rem;
    background-color: #eeeeee; }
  .current .current-items-list .current-items-item .current-items-name {
    margin: 0 1rem; }
  .current .current-items-list .current-items-item .current-items-item-options {
    padding: 0; }
    .current .current-items-list .current-items-item .current-items-item-options .qty-change-btns {
      display: flex;
      padding: 0; }
      .current .current-items-list .current-items-item .current-items-item-options .qty-change-btns .qty-change-input {
        border-radius: 0;
        width: 6rem;
        height: 3rem;
        text-align: center;
        font-size: 1.25rem;
        border-width: 0;
        border: none; }
      .current .current-items-list .current-items-item .current-items-item-options .qty-change-btns .qty-change-btn {
        width: 100%;
        height: 3rem;
        border-radius: 0;
        background-color: #b3b3b3;
        color: #a10000;
        outline: none; }
    .current .current-items-list .current-items-item .current-items-item-options .qty-change-submit {
      display: flex; }
      .current .current-items-list .current-items-item .current-items-item-options .qty-change-submit button {
        width: 100%;
        height: 3rem;
        border-radius: 0;
        background-color: #a10000; }
        .current .current-items-list .current-items-item .current-items-item-options .qty-change-submit button i {
          color: #eeeeee; }
        .current .current-items-list .current-items-item .current-items-item-options .qty-change-submit button:first-child {
          border-right: 1px solid #4b4b4b; }
        .current .current-items-list .current-items-item .current-items-item-options .qty-change-submit button:last-child {
          border-left: 1px solid #4b4b4b; }
    .current .current-items-list .current-items-item .current-items-item-options .remove-btn {
      width: 100%;
      height: 3rem; }
      .current .current-items-list .current-items-item .current-items-item-options .remove-btn i {
        margin-right: 0.5rem; }
    .current .current-items-list .current-items-item .current-items-item-options .fixed {
      button-width: 75%; }

.current-picklist-skeleton {
  animation: skeleton 2s linear infinite alternate; }
  .current-picklist-skeleton .current-header-skeleton {
    position: relative;
    height: 1rem; }
    .current-picklist-skeleton .current-header-skeleton .current-title-skeleton {
      background-color: #eeeeee;
      font-weight: 100;
      font-size: 1.75rem;
      width: 50%;
      position: absolute;
      top: -2.5rem;
      left: 50%;
      transform: translateX(-50%); }
  .current-picklist-skeleton form .input-group-append .add-item-btn-skeleton {
    width: 6rem;
    background-color: #b3b3b3; }
  .current-picklist-skeleton .list-group {
    border-radius: 0; }
    .current-picklist-skeleton .list-group .list-group-item {
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .current-picklist-skeleton .list-group .list-group-item p {
        margin: 0; }
      .current-picklist-skeleton .list-group .list-group-item .name-skeleton {
        background-color: #b3b3b3;
        width: 60%; }
      .current-picklist-skeleton .list-group .list-group-item .qty-skeleton {
        background-color: #4b4b4b;
        width: 2.5rem; }
  .current-picklist-skeleton .submit-btn-skeleton {
    background-color: #b3b3b3;
    height: 3rem; }

.retrieve .retrieve-lists {
  margin-top: 1rem; }
.retrieve .no-retrieve-lists-msg {
  font-weight: 100;
  margin: 3rem;
  text-align: center; }
  .retrieve .no-retrieve-lists-msg a {
    border-radius: 0.2rem;
    padding: 0 0.5rem; }
.retrieve .retrieve-picklist-header {
  position: relative;
  height: 1rem; }
  .retrieve .retrieve-picklist-header .retrieve-picklist-title {
    font-weight: 100;
    font-size: 1.75rem;
    width: 100%;
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%); }
.retrieve .retrieve-items-list .retrieve-item .list-group-item {
  height: 4rem;
  background-color: #eeeeee; }
  .retrieve .retrieve-items-list .retrieve-item .list-group-item:not(.requested) {
    background-color: #b3b3b3; }
.retrieve .retrieve-items-list .retrieve-item .retrieve-items-name {
  margin: 0 1rem; }
.retrieve .retrieve-items-list .retrieve-item .card-body {
  height: 3rem;
  width: 100%;
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center; }
.retrieve .retrieve-items-list .retrieve-item .item-not-found {
  padding: 0;
  margin-top: 1rem; }
  .retrieve .retrieve-items-list .retrieve-item .item-not-found .item-not-found-btn {
    width: 100%;
    height: 3rem; }
.retrieve .retrieve-items-list .retrieve-item .retrieve-item-success {
  padding: 0;
  margin-bottom: 1rem; }
  .retrieve .retrieve-items-list .retrieve-item .retrieve-item-success .retrieve-item-success-btn {
    width: 100%;
    height: 3rem;
    background-color: #a10000; }
    .retrieve .retrieve-items-list .retrieve-item .retrieve-item-success .retrieve-item-success-btn i {
      color: #eeeeee; }

.library {
  color: #4b4b4b; }
  .library .add-library-item-form .form-control {
    margin-bottom: 1rem; }
  .library .add-library-item-form .new-item-triggers {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .library .add-library-item-form .new-item-triggers button {
      min-height: 3rem; }
  .library .no-library-items-found {
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: #eeeeee; }
  .library .library-item-header .library-item-info .library-item-name {
    font-weight: 400; }
    .library .library-item-header .library-item-info .library-item-name .library-item-size {
      font-weight: 700;
      margin-right: 0.5rem; }
  .library .library-item-collapse-upper .card-body {
    padding: 0; }
    .library .library-item-collapse-upper .card-body div {
      display: flex;
      justify-content: space-between;
      background-color: #4b4b4b;
      padding: 0.5rem 1rem;
      margin-top: 0.75rem; }
      .library .library-item-collapse-upper .card-body div .btn {
        min-height: 3rem;
        min-width: 3rem; }
        .library .library-item-collapse-upper .card-body div .btn i {
          font-size: 1rem; }
  .library .library-item-collapse-lower {
    border: none;
    outline: none; }
    .library .library-item-collapse-lower .library-item-upcs ul {
      border: none;
      margin-bottom: 0.75rem; }
      .library .library-item-collapse-lower .library-item-upcs ul li {
        display: flex;
        padding: 0.75rem 1rem;
        background-color: #4b4b4b; }
        .library .library-item-collapse-lower .library-item-upcs ul li:nth-child(even) {
          background-color: #717171; }
        .library .library-item-collapse-lower .library-item-upcs ul li .library-item-upc {
          margin: auto;
          color: #eeeeee; }

.library-item-modal .modal-body {
  max-height: 65vh;
  overflow-y: scroll; }
  .library-item-modal .modal-body .library-item-label {
    margin-bottom: 0.1rem; }
    .library-item-modal .modal-body .library-item-label:not(:first-of-type) {
      margin-top: 1.2rem; }
  .library-item-modal .modal-body .library-item-add-upc-btn {
    margin-top: 1rem;
    display: block; }
  .library-item-modal .modal-body .new-library-item-upc {
    display: flex; }

@media (max-width: 768px) {
  .container {
    padding: 0; }

  .card {
    border-radius: 0; }

  .add-picklist-item .form-control,
  .add-picklist-item .btn {
    border-radius: 0; } }
@keyframes skeleton {
  0% {
    opacity: 0.25; }
  100% {
    opacity: 0.75; } }
