* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #333;
  color: #f4f4f4; }

a,
a:hover,
a:visited,
a:focus {
  color: #f4f4f4;
  text-decoration: none; }

li {
  list-style: none; }

.page-wrapper {
  padding-bottom: 5rem; }

.navbar-nav {
  display: flex;
  flex-direction: column; }
  .navbar-nav .nav-item {
    margin: 0.5rem 0.5rem 0.5rem auto; }

.bg-1 {
  background-color: #b40000; }

.bg-2 {
  background-color: #f4f4f4; }

.bg-3 {
  background-color: #afafaf; }

.modal .modal-dialog {
  vertical-align: middle; }

.btn {
  border: none;
  outline: none; }

.alert {
  position: absolute;
  top: calc(0% - 3rem);
  left: 0;
  width: 100%;
  border-radius: 0;
  text-align: center; }

.list-group button {
  border-radius: 0; }

.nav-anchor {
  position: relative; }
  .nav-anchor .navbar .navbar-toggler {
    background-color: transparent; }
    .nav-anchor .navbar .navbar-toggler .fas {
      font-size: 1.75rem;
      color: #f4f4f4; }
  .nav-anchor .navbar-collapse {
    position: absolute;
    right: 0;
    background-color: #1a1a1a;
    padding: 0;
    z-index: 10;
    height: 100vh; }
    .nav-anchor .navbar-collapse ul li {
      margin: 0; }
      .nav-anchor .navbar-collapse ul li button {
        background-color: #1a1a1a;
        min-width: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0;
        padding: 1rem; }
        .nav-anchor .navbar-collapse ul li button:hover {
          background-color: #b40000; }
        .nav-anchor .navbar-collapse ul li button i {
          margin-right: 0.5rem;
          background-color: #afafaf;
          border-radius: 50%;
          padding: 0.5rem;
          min-width: 2.2rem;
          min-height: 2.2rem; }

.bottom-nav {
  margin-top: 2rem;
  padding: 0;
  background-color: #afafaf; }
  .bottom-nav .nav {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .bottom-nav .nav .nav-item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .bottom-nav .nav .nav-item:not(:last-child) {
        border-right: 1px solid #909090; }
      .bottom-nav .nav .nav-item:nth-child(odd) {
        background-color: #a2a2a2; }
      .bottom-nav .nav .nav-item a,
      .bottom-nav .nav .nav-item button {
        width: 100%;
        padding: 0;
        line-height: 4.5rem;
        font-size: 1.75rem;
        text-align: center;
        color: #333;
        border-radius: 0;
        background-color: inherit;
        position: relative; }
        .bottom-nav .nav .nav-item a .i-super-anchor,
        .bottom-nav .nav .nav-item button .i-super-anchor {
          position: relative; }
          .bottom-nav .nav .nav-item a .i-super-anchor .i-super,
          .bottom-nav .nav .nav-item button .i-super-anchor .i-super {
            position: absolute;
            left: -55%;
            top: -40%;
            background-color: #333;
            color: #f4f4f4;
            font-size: 0.7rem;
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.25rem;
            border-radius: 50%;
            border: 2px solid #afafaf; }
            .bottom-nav .nav .nav-item a .i-super-anchor .i-super.i-super-live,
            .bottom-nav .nav .nav-item button .i-super-anchor .i-super.i-super-live {
              background-color: #b40000; }
        .bottom-nav .nav .nav-item a .link-page-name,
        .bottom-nav .nav .nav-item button .link-page-name {
          position: absolute;
          bottom: -1.25rem;
          left: 0;
          right: 0;
          margin: auto;
          font-size: 1rem;
          font-variant-caps: all-small-caps; }

.alert-anchor .alert {
  z-index: 10; }
  .alert-anchor .alert .clear-alert-btn {
    position: absolute;
    right: 1rem;
    color: #333;
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .alert-anchor .alert .clear-alert-btn:hover, .alert-anchor .alert .clear-alert-btn:focus, .alert-anchor .alert .clear-alert-btn:active {
      background: transparent;
      outline: none;
      border: none; }

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .home .new-list-btn {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    min-width: 5rem;
    min-height: 5rem;
    border-radius: 50%;
    color: #f4f4f4;
    background-color: #b40000;
    border: 0.25rem solid #333;
    display: flex;
    align-items: center;
    justify-content: center; }
    .home .new-list-btn:active {
      background-color: #810000; }
    .home .new-list-btn i {
      font-size: 1.5rem; }

.picklist .picklist-header .picklist-status button {
  font-size: 0.8rem; }
.picklist .picklist-collapse-upper .card-body {
  padding: 0; }
  .picklist .picklist-collapse-upper .card-body div {
    display: flex;
    justify-content: space-between;
    background-color: #afafaf;
    padding: 0.5rem 1rem;
    margin-top: 0.75rem; }
    .picklist .picklist-collapse-upper .card-body div .btn {
      min-height: 3rem;
      min-width: 3rem; }
      .picklist .picklist-collapse-upper .card-body div .btn i {
        font-size: 1rem; }
.picklist .picklist-collapse-lower {
  border: none;
  outline: none; }
  .picklist .picklist-collapse-lower .picklist-body ul {
    border: none;
    margin-bottom: 0.75rem; }
    .picklist .picklist-collapse-lower .picklist-body ul li:nth-child(odd) {
      background-color: #afafaf; }
    .picklist .picklist-collapse-lower .picklist-body ul li {
      display: flex;
      padding: 0.75rem 1rem; }
      .picklist .picklist-collapse-lower .picklist-body ul li .picklist-body-qty {
        margin-left: auto; }

.picklist-skeleton {
  animation: skeleton 1s linear infinite alternate; }
  .picklist-skeleton .card-body-skeleton .picklist-info-skeleton .card-title-skeleton {
    width: 100%;
    background-color: #6f6f6f;
    border-radius: 0.25rem;
    opacity: 0.5; }
  .picklist-skeleton .card-body-skeleton .picklist-info-skeleton .card-subtitle-skeleton {
    width: 75%;
    background-color: #333;
    border-radius: 0.25rem;
    opacity: 0.5; }
  .picklist-skeleton .card-body-skeleton .picklist-info-skeleton .date-skeleton {
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 0.25rem;
    opacity: 0.5; }
  .picklist-skeleton .card-body-skeleton .picklist-status-skeleton button {
    font-size: 0.8rem;
    width: 5rem; }

.current-picklist-header {
  position: relative;
  height: 1rem; }
  .current-picklist-header .current-picklist-title {
    font-weight: 100;
    font-size: 1.75rem;
    width: 100%;
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%); }

.current-items-list .list-group-item {
  height: 4rem;
  background-color: #f4f4f4; }
.current-items-list .current-items-name {
  margin: 0 1rem; }
.current-items-list .current-items-item-options {
  padding: 0; }
  .current-items-list .current-items-item-options .remove-btn {
    margin-top: 1rem; }
  .current-items-list .current-items-item-options .qty-change-btns {
    display: flex;
    padding: 0; }
    .current-items-list .current-items-item-options .qty-change-btns .qty-change-input {
      border-radius: 0;
      width: 6rem;
      height: 3rem;
      text-align: center;
      font-size: 1.25rem;
      border-width: 0;
      border: none; }
    .current-items-list .current-items-item-options .qty-change-btns .qty-change-btn {
      width: 100%;
      height: 3rem;
      border-radius: 0;
      background-color: #afafaf;
      color: #b40000;
      outline: none; }
  .current-items-list .current-items-item-options .qty-change-submit {
    margin-bottom: 1rem;
    display: flex; }
    .current-items-list .current-items-item-options .qty-change-submit button {
      width: 100%;
      height: 3rem;
      border-radius: 0;
      background-color: #b40000; }
      .current-items-list .current-items-item-options .qty-change-submit button i {
        color: #f4f4f4; }
      .current-items-list .current-items-item-options .qty-change-submit button:first-child {
        border-right: 1px solid #680000; }
      .current-items-list .current-items-item-options .qty-change-submit button:last-child {
        border-left: 1px solid #680000; }
  .current-items-list .current-items-item-options .remove-btn {
    width: 100%;
    height: 3rem; }
    .current-items-list .current-items-item-options .remove-btn i {
      margin-right: 0.5rem; }
  .current-items-list .current-items-item-options .fixed {
    button-width: 75%; }

.current-picklist-skeleton {
  animation: skeleton 1s linear infinite alternate; }
  .current-picklist-skeleton .current-header-skeleton {
    position: relative;
    height: 1rem; }
    .current-picklist-skeleton .current-header-skeleton .current-title-skeleton {
      background-color: #f4f4f4;
      font-weight: 100;
      font-size: 1.75rem;
      width: 50%;
      position: absolute;
      top: -2.5rem;
      left: 50%;
      transform: translateX(-50%); }
  .current-picklist-skeleton form .input-group-append button {
    width: 6rem; }
  .current-picklist-skeleton .list-group {
    border-radius: 0; }
    .current-picklist-skeleton .list-group .list-group-item {
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .current-picklist-skeleton .list-group .list-group-item p {
        margin: 0; }
      .current-picklist-skeleton .list-group .list-group-item .name-skeleton {
        background-color: #afafaf;
        width: 60%; }
      .current-picklist-skeleton .list-group .list-group-item .qty-skeleton {
        background-color: #333;
        width: 2.5rem; }

.library {
  color: #333; }
  .library .library-search .add-library-item-form .form-control {
    height: 4rem;
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .library .library-search .add-library-item-form .new-item-triggers {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .library .library-search .add-library-item-form .new-item-triggers button {
      min-height: 3rem;
      padding-left: 1rem;
      padding-right: 1rem; }
  .library .no-library-items-found {
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: #f4f4f4; }
  .library .library-item-header .library-item-info .library-item-name {
    font-weight: 400; }
    .library .library-item-header .library-item-info .library-item-name .library-item-size {
      font-weight: 700;
      margin-right: 0.5rem; }
  .library .library-item-collapse-upper .card-body {
    padding: 0; }
    .library .library-item-collapse-upper .card-body div {
      display: flex;
      justify-content: space-between;
      background-color: #333;
      padding: 0.5rem 1rem;
      margin-top: 0.75rem; }
      .library .library-item-collapse-upper .card-body div .btn {
        min-height: 3rem;
        min-width: 3rem; }
        .library .library-item-collapse-upper .card-body div .btn i {
          font-size: 1rem; }
  .library .library-item-collapse-lower {
    border: none;
    outline: none; }
    .library .library-item-collapse-lower .library-item-upcs ul {
      border: none;
      margin-bottom: 0.75rem; }
      .library .library-item-collapse-lower .library-item-upcs ul li {
        display: flex;
        padding: 0.75rem 1rem;
        background-color: #333; }
        .library .library-item-collapse-lower .library-item-upcs ul li:nth-child(even) {
          background-color: #595959; }
        .library .library-item-collapse-lower .library-item-upcs ul li .library-item-upc {
          margin: auto;
          color: #f4f4f4; }

.library-item-modal .modal-body {
  max-height: 65vh;
  overflow-y: scroll; }
  .library-item-modal .modal-body .library-item-label {
    margin-bottom: 0.1rem; }
    .library-item-modal .modal-body .library-item-label:not(:first-of-type) {
      margin-top: 1.2rem; }
  .library-item-modal .modal-body .library-item-add-upc-btn {
    margin-top: 1rem;
    display: block; }
  .library-item-modal .modal-body .new-library-item-upc {
    display: flex; }

@keyframes skeleton {
  0% {
    opacity: 0.25; }
  100% {
    opacity: 0.75; } }
