#about-steps {
	.about-card {
		.fas {
			margin: 0 0.25rem;
		}

		.h-line {
			height: 0.2rem;
			background-color: $color-2;
		}

		.v-line {
			height: 5vh;
			width: 0.2rem;
			background-color: $color-2;
		}
	}
}
