// -------------- Module Imports -------------- //

// ---------- variables ----------- //
@import './variables.module.scss';
@import './_BootstrapOverrides.scss';
@import './_grid.scss';
@import './_keyframes.scss';

// ----- components ----- //

// ---------- auth ----------- //
@import './components/auth/_Login.scss';

// ---------- layout ----------- //
@import './components/layout/_TopNav.scss';
@import './components/layout/_BottomNav.scss';
@import './components/layout/_Alert.scss';

// ---------- loading ----------- //
@import './components/loading/_Loading.scss';

// ---------- pages ----------- //
@import './components/pages/_Home.scss';
@import './components/pages/_Current.scss';
@import './components/pages/_Retrieve.scss';
@import './components/pages/_Library.scss';
@import './components/pages/_Settings.scss';
@import './components/pages/_About.scss';

// ---------- about ----------- //
@import './components/about/_AboutSplash.scss';
@import './components/about/_AboutSection.scss';
@import './components/about/_AboutIntro.scss';
@import './components/about/_AboutHow.scss';
@import './components/about/_AboutSteps.scss';
// --------------- steps ---------------- //
@import './components/about/steps/_Step1.scss';
@import './components/about/steps/_Step2.scss';
@import './components/about/steps/_Step3.scss';

// ---------- picklists ----------- //
@import './components/picklists/_Picklists.scss';

// ---------- utils ----------- //
@import './components/utils/_Timer.scss';
@import './components/utils/_ForceRefresh.scss';

// -------------- General Selectors -------------- //

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}

body {
	background: $dark;
	color: $color-2;
}

a,
a:hover,
a:visited,
a:focus {
	color: $color-2;
	text-decoration: none;
}

li {
	list-style: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; /* Remove default arrow */
	background-image: url(../img/arrow-circle-down-solid.svg); /* Add custom arrow */
	background-position: center right 2%;
	background-repeat: no-repeat;
	background-size: 1.75rem;
	font-size: 1.25rem;
	text-align: right;
	text-indent: 0.5rem;
	cursor: pointer;

	option {
		width: 50%;
		font-size: 1rem;
	}
}

// -------------- Utility selectors  -------------- //
.page-wrapper {
	height: calc(100vh - 8.5rem);
	overflow: scroll;
}

.navbar-nav {
	display: flex;
	flex-direction: column;

	.nav-item {
		margin: 0.5rem 0.5rem 0.5rem auto;
	}
}

.color-4 {
	color: $color-4 !important;
}

.bg-1 {
	background-color: $color-1;
}

.bg-2 {
	background-color: $color-2;
}

.bg-3 {
	background-color: $color-3;
}

.bg-4 {
	background-color: $color-4;
}

.bg-initialized {
	background-color: lighten($initialized, 35%);
	border: 0.2rem solid $initialized;
	color: $color-1;
}

.bg-submitted {
	background-color: $submitted;
}

.bg-retrieving {
	background-color: lighten($retrieving, 35%);
	border: 0.2rem solid $retrieving;
	color: $color-1;
}

.bg-retrieved {
	background-color: $retrieved;
}

.bg-stocking {
	background-color: lighten($stocking, 35%);
	border: 0.2rem solid $stocking;
	color: $color-1;
}

.bg-complete {
	background-color: $complete;
}

.c-initialized {
	color: $initialized;
}

.c-submitted {
	color: $submitted;
}

.c-retrieving {
	color: $retrieving;
}

.c-retrieved {
	color: $retrieved;
}

.c-complete {
	color: $complete;
}

.c-requested {
	color: $requested;
}

.c-found {
	color: $found;
}

.c-not-found {
	color: $not-found;
}

.fade-in-left {
	animation: fade-in-left 0.75s ease;
}

.fade-in-bottom {
	animation: fade-in-bottom 0.75s ease;
}

.grow-from-top {
	animation: grow-from-top 2s ease;
}

// -------------- Search/Filter Bar -------------- //
.search-bar {
	margin-bottom: 1rem;
	.input-group,
	.form-group {
		.form-control,
		.btn {
			height: 4rem;
			border-radius: 0;
		}
		.btn {
			padding: 0 1.5rem;
			font-size: 1.2rem;
		}
	}
}

// -------------- Media Queries -------------- //
@media (max-width: 768px) {
	.add-picklist-item {
		.form-control,
		.btn {
			border-radius: 0;
		}
	}
}
